.card-container {
    flex-wrap: wrap;
    justify-content: space-between;
    column-count: 2;
}

.client-card {
    flex: 1 0 22%;
    max-width: 22%;
    margin: 10px;
    transition: transform .2s;
    border: none;
    background: #2b2c28;
    color: white;
    border-radius: 30px;
}

.client-card:hover {
    transform: scale(1.03);
    border: 1px solid #cccccc;
    box-shadow: 5px 5px 15px 5px #cccccc;
}

.card-title {
    color: #fff;
}

.heading {
    font-family: cursive;
}

.heading-wrap {
    width: 100%;
    height: 7rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 5rem;
}

.icons {
    height: 1rem;
    padding-left: 1rem;
}